*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background: rgb(19, 6, 17);
  color: white;
  padding:20px;

}

.center ul li{
  list-style: none;
  margin:0 10px;
  display: inline-flex;
}
.title{
  font-size: 1rem;
}
.left{
  flex:2;
 
}
.search{
  flex:2;
 
}
.search input{
  padding: 10px;
  width:20rem;
  border-radius: 5px;
  margin-left: -150px;
}
.center{
  flex:4;
 }

.right{
  flex:4;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.bannerBox {
  margin:  30px 1% ;
}
.bannerBox img{
   width:100%
}

.menImages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  padding: 14px;
}
.menImages img{
  width: 220px;
  height:220px;
  
}

.collectionSection h2{
  padding: 20px;
}